body {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  text-align: left;
  font-family: 'Old Standard TT', serif;
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hold {
  scroll-snap-type: y proximity;
  display: grid;
  margin-bottom: 10rem;
  @media ( min-width: 48em ) {
    padding: 0 10vh;
  }
}

.products {
  scroll-snap-type: y proximity;
  .product {
    scroll-snap-align: start;
    height: 100%;
  }
}

.screen, .col {
  scroll-snap-align: start;
  min-height: 100vh;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  h2 {
    line-height: 1.2;
    margin: 0;
    font-size: 3.5vw;
  }

  .split {
    @media ( min-width: 48em ) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }
    justify-content: flex-start;
    align-items: center;

    .semi {
      padding: 2rem;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


.welcome {
  padding-bottom: 2rem;
}

 @media ( min-width: 48em ) {

   body {
     font-size: 24px;
   }

  .col {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .welcome {
    h1{
      writing-mode: vertical-rl;
      white-space: nowrap;
      transform: rotate(180deg);
      text-align: right;
      padding-left: 3rem;
      padding-bottom: 0;
      margin-bottom: 2rem;
    }
    p { font-size: 1rem; }
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 1rem;
  }
}

hr {
  margin: 4rem 0;
  border: 0;
  display: block;
}

// cut it out
h1 {
  font-size: 3rem;
  @media ( min-width: 48em ) {
    font-size: 7vw;
  }
  margin: 0;
  color: black;
  font-weight: 700;
  // Cut out the text, replace it with image
  @supports ( -webkit-background-clip: text ) {
    background-image: url(https://picsum.photos/g/1200/200?random);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;

  a{
    color: inherit;
    text-decoration: none;
  }
}

.products {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, [col-start] minmax(10rem, 1fr) [col-end]);
  @media ( min-width: 48em ) {
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fill, [col-start] minmax(15rem, 1fr) [col-end]);
  }
}

.product {
  text-align: left;
  background-color: white;
  overflow: hidden;
  line-height: 1.75;

  p {
    opacity: 0.8;
    line-height: 1.4;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }

  img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    vertical-align: top;
    transform: translate3d(0px,0px,0px);
    transform: scale(1);
    transition: transform 5000ms ease-in-out, opacity 1000ms ease-in-out;
    transform-origin: center bottom;
    opacity: 0.9;
  }

  &:hover {
    img {
      transform: scale(1.2);
      opacity: 1;
    }

    button {
      border-color: rgba(0,0,0,0.5);
      color: rgba(0,0,0,0.8);
    }
  }

  .cart {
    display: flex;
    justify-content: space-between;
  }
}

form {
  display: inherit;
}

button {
  border: 1px solid rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.5);
  background-color: white;
  border-radius: 3px;
  font-size: 0.8rem;
  line-height: 0;
  padding: 0 0.75rem;
  margin: 0;
  height: 1.75rem;
  display: inline-block;
  transition: color 800ms ease-in-out, border-color 800ms ease-in-out;
  cursor: help;
  &:active {
    outline: 0;
  }
}

/**
 * Single product
 */

.single-products {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.column {
  padding: 1rem;
}
.column\:small{ flex: 1 1 25%; }
.column\:large{ flex: 1 1 50%; }
