  {{#section content_sections multiple=true}}
    <div class="screen">
      <div class="split">
        <div class="semi">
            <img src="{{section_image type=image tag=false required=false}}">
        </div>
        <div class="semi">
          <h2>{{section_title}}</h2>
          <p>{{section_content type=html editor=markdown required=false}}</p>
        </div>
      </div>
    </div>
  {{/section}}
