<!DOCTYPE html>
<html>
<head>
  <title>{{site_title}} - {{page_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700" rel="stylesheet">
</head>
<body>

  <div class="hold">

    <div class="centered">

      <p>Sorry, but this page no longer exists here.</p>
      <br>
      <a href="/"> Return to the shop</a>

    </div>

  </div>

  <script src="/javascripts/site.js"></script>

</body>
</html>