<!DOCTYPE html>
<html>
<head>
  <title>{{site_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700" rel="stylesheet">

</head>
<body>

  <div class="hold">

    <div class="col">

      {{> ident}}