{{> head}}

    {{#section products}}
      <div class="single-products">

        <div class="column column:large">
          <h2>{{product_title}}</h2>
          <div class="cart">
            <h4>{{price}}</h4>
          </div>
          <br>

          {{#if long_description}}
          <p>{{long_description type=html editor=markdown required=false placeholder="Long description of product"}}</p>
          {{/if}}

          <br>

          <form action="{{_permalink}}">
            <button>Buy this item</button>
          </form>

        </div>

        <div class="column column:large">

          <picture>
            <source srcset="{{product_image type=image width=1000 tag=false}}" media="(min-width: 480px)">
            <img src="{{product_image type=image width=480 tag=false required=false alt="Responsive"}}">
          </picture>

        </div>

      </div>

    {{/section}}

{{> footer}}