{{> head}}

    <div class="products">
      {{#section products multiple=true}}
        <div class="product">
          <a href="{{_permalink}}"><img src="{{product_image type=image tag=false required=false}}"></a>
          <h3><a href="{{_permalink}}">{{product_title}}</a></h3>
          <p>{{description placeholder="Short description of product"}}</p>
          <div class="cart">
            <h5>Price: {{price}}</h5>
            <form action="{{_permalink}}">
              <button>Buy</button>
            </form>
          </div>
        </div>
      {{/section}}
    </div>
  </div>


{{> footer}}